@import "tailwindcss";

:root {
  --color-accent: #86f101;
  --color-bg: #ffffff;
  --color-brand: #013920;
  --color-text: #000000;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-noto-thai), var(--font-inter), Arial, Helvetica, sans-serif;
}
